<div class="search-container">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="onKeyUp($event)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    <button type="button" class="btn btn-primary" (click)="searchRecipes()">Search Recipes</button>
</div>

<div class="recipe-detail">
    <div class="image-container">
        <div class="image">
            <img src="{{curRecipe['image']}}" alt="{{curRecipe['label']}}">
        </div>
        <div class="label">
            <label for="{{curRecipe.label}}">
                <b>{{curRecipe.label}}</b>
            </label>
            <div>
                <span>See full recipe on <span class="target-link" (click)="openTargetLink()">{{curRecipe['source']}}</span></span>
            </div>
        </div>
    </div>
    <div class="ingredients-container">
        <div class="title">
            <span>Ingredients</span>
        </div>
        <ul>
            <li *ngFor="let entry of curRecipe.ingredientLines">{{entry}}</li>
        </ul>
    </div>
</div>
