.search-container {
    display: flex;

    .child {
        margin: 100px auto;
        width: 70%;
        
        .input-container {
            margin-bottom: 10px;
        }
    
        .buttons-container {
            text-align: center;

            button {
                margin: 5px;
            }
        }

        .random-buttons {
            margin-top: 50px;

            .header {
                text-align: center;
                font-style: italic;
                font-size: 85%;
                margin-bottom: 20px;
            }

            .button-group {
                display: flex;
                margin-bottom: 10px;
            }

            .one {
                justify-content: space-around;
            }

            .two, .five {
                justify-content: space-evenly;
            }
            
            .three {
                justify-content: space-between;
            }

            .four {
                justify-content: center;
            }
        }
    }

}