<div class="search-container">
  <div class="child">
    <div class="input-container">
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="onKeyUp($event)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="buttons-container">
      <button type="button" class="btn btn-primary" (click)="searchRecipes()">Search Recipes</button>
      <button type="button" class="btn btn-secondary">Random recipe</button>
    </div>
  </div>
</div>